.list {
    width: 100%;
    min-height: calc(100vh - 9.5em);
    padding: 2em;
}

form{
    width: 100%;
    padding: 0;
    margin: 0;
}

.content {
    padding-top: 4em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.itemCard {
    width: 25%;
    height: 400px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    border: 1px solid #f1f1f1;
    position: relative;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.itemCard:hover {
    background-color: rgba(238, 238, 238, 0.7);
}

.imgLayout {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 0.5em;
    text-align: center;
}

img {
    height: 150px;
}

span {
    color: royalblue;
}

.name {
    font-weight: bold;
}

.price {
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.addToCart{
    position: absolute;
    bottom: 15px;
    right: 15px;
    background-color: transparent;
    border: 1px solid #666;
    color: #666;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.addToCart:hover{
    border-color: coral;
    color: #333;
}