.tablesCaptionLayout {
    width: auto;
    display: flex;
    align-items: center;
}

.tablesCaptionLayout h1 {
    width: 50vw;
    height: 100%;
    text-align: center;
    background-color: coral;
    color: #fff;
}

.tables {
    width: auto;
    display: flex;
}

.users-table{
    width: 100%;
    height: calc(100vh - 8em);
    overflow: auto;
}

.items-table{
    width: 100%;
    height: calc(100vh - 8em);
    overflow: auto;
}