<nav class="navbar navbar-expand-lg navbar-light ">
  <a class="navbar-brand" routerLink="/">Brand</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto navigationBar">
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin">Admin</a>
      </li>

      <div class="greetingLayout">
        <li class="nav-item">
          <button (click)="shoppingCart = !shoppingCart" class="nav-link shoppingCartBtnToggle"><i
              class="fas fa-shopping-cart"></i> Shopping cart</button>

          <div class="shoppingCart" *ngIf="shoppingCart">
            <ul>
              <li class="listElement" *ngFor="let cartItem of cartItem"> {{cartItem.name}} <span
                  class="badge badge-secondary">{{cartItem.quantity}}</span> <span class="priceAndDelete">Price:
                  {{cartItem.price}} <button (click)="deleteItem(cartItem);" class="deleteItem"><i
                      class="fas fa-times"></i></button></span> </li>
            </ul>
          </div>
        </li>
        <li class="nav-item userGreeting">
          <div (click)="openUserInfo();" class="userAvatar">
            <img src="https://www.stickpng.com/assets/images/585e4bf3cb11b227491c339a.png" alt="Avatar">
          </div>
          <span class="nav-link ">Hello, {{userFirstName}}</span>
        </li>
        <li class="nav-item">
          <a class="nav-link logout" (click)="logout();">Logout</a>
        </li>
      </div>
    </ul>
  </div>

  <div class="itemImagesFromCart">
    <ul>
      <li class="listElement" *ngFor="let cartItem of cartItem"><img src="{{cartItem.image}}" alt="{{cartItem.name}}"><span
          class="badge badge-secondary ">{{cartItem.quantity}}</span></li>
    </ul>
  </div>
</nav>