<nav class="navbar navbar-expand-lg navbar-light container">
  <a class="navbar-brand" routerLink="/">Brand</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto navigationBar">
      <li *ngIf="loggedAsAdmin" class="nav-item">
        <a class="nav-link" routerLink="/admin">Admin</a>
      </li>

      <li *ngIf="!isLoggedIn" class="nav-item greetingLayout">
          <a class="nav-link" routerLink="/login">Sign In</a>
        <a class="nav-link signUp" routerLink="/registration">Sing Up</a>
      </li>

      <div *ngIf="isLoggedIn" class="greetingLayout">
        <li class="nav-item">
          <button (click)="shoppingCart = !shoppingCart" class="nav-link shoppingCartBtnToggle"><i
              class="fas fa-shopping-cart"></i> Shopping cart <span class="totalCost">{{totalCost+' $'}}</span></button>
          <div class="shoppingCart" *ngIf="shoppingCart">
            <ul>
              <li class="listElement" *ngFor="let cartItem of cartItem">
                <div class="listEl" (click)="goToItemDetails(cartItem._id);">{{cartItem.name | descriptionsize : 15}} <span
                    class="badge badge-secondary">{{cartItem.quantity}}</span> <span class="priceAndDelete">Price:
                    {{cartItem.price*cartItem.quantity+' $'}} <button (click)="deleteItem(cartItem); $event.stopPropagation();"
                      class="deleteItem"><i class="fas fa-times"></i></button></span> </div>
              </li>
            </ul>
            <div class="cartBtns">
              <button class="btn clearBtn" (click)="clearAllCartItems();">Clear all</button>
              <button class="btn goToOrderBtn" (click)="goToOrder();">Go to order</button>
            </div>
          </div>
        </li>
        <li class="nav-item userGreeting">
          <div (click)="openUserInfo();" class="image">
            <img src="{{image}}" alt="Avatar">
          </div>
          <span class="nav-link ">Hello, {{firstName}}</span>
        </li>
        <li class="nav-item">
          <a class="nav-link logout" (click)="logout();">Logout</a>
        </li>
      </div>
    </ul>
  </div>

  <!-- <div class="itemImagesFromCart">
    <ul>
      <li class="listElement" *ngFor="let cartItem of cartItem"><img src="{{cartItem.image}}" alt="{{cartItem.name}}"><span
          class="badge badge-secondary ">{{cartItem.quantity}}</span></li>
    </ul>
  </div> -->
</nav>