.mat-elevation-z8{
  width: 40vw;
  margin: 0 auto;
  margin-top: 1em;
}
.full-width-table {
  width: 100%;
}
.iconbutton{
  margin-top: 0.3em;
  margin-left: 1em;
}
.mat-row:hover{
  background-color: #ddd;
}
.createNewItemBtn{
  width: 100%;
  height: 2em;
  background-color: coral;
  color: #fff;
  border: 0;
}